.table {
  padding-bottom: 20px;
  width: 100%;
}

.table-content {
  margin: 10px;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .table-content {
    min-width: 800px;
    margin: 0;
  }
  .table-scroll {
    overflow-x: scroll;
  }
}

@keyframes gradient {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.rect-loading {
  animation: gradient 2s infinite linear;
  background: linear-gradient(to right, #ecebec 8%, #f9f9f9 18%, #ecebec 33%);
  background-size: 800px 100px;
  height: 46px;
  margin: 2px 0px;
}

.table-header {
  height: 60px;
  font-weight: 500;
  padding: 10px;
}

.table-data-header {
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.table-data-row {
  min-height: 50px;
  transition-property: all;
  transition-duration: 0.2s;
  position: relative;
}

/* Material theme */
.material .table-content {
  background: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.material .table-header {
  border-bottom: 1px solid #dee2e6;
}
.material .table-data-header {
  border-bottom: 1px solid #dee2e6;
}
